condominioapp/__pycache__/*
/apps/condominios/__pycache__/*
/apps/condominios/migrations/*
/apps/visitantes/__pycache__/*
/apps/visitantes/migrations/*
/apps/blocos/__pycache__/*
/apps/blocos/migrations/*
/apps/funcionarios/__pycache__/*
/apps/funcionarios/migrations/*
/apps/proprietarios/__pycache__/*
/apps/proprietarios/migrations/*
/apps/garagens/__pycache__/*
/apps/garagens/migrations/*
/apps/apartamentos/__pycache__/*
/apps/apartamentos/migrations/*
/apps/visitas/__pycache__/*      
/apps/visitas/migrations/*