condominioapp/__pycache__/*
/apps/condominios/__pycache__/*
/apps/condominios/migrations/*
/apps/visitantes/__pycache__/*
/apps/visitantes/migrations/*
/apps/blocos/__pycache__/*
/apps/blocos/migrations/*
/apps/funcionarios/__pycache__/*
/apps/funcionarios/migrations/*
/apps/garagens/__pycache__/*
/apps/garagens/migrations/*